.btn,
.bookmark-box {
    display: inline-block;
    border-style: none;
    border-radius: 50px;
}
.btn {
    text-decoration: none;
    color: white;
    background-color: $color-primary-1;
    font-weight: $font-weight-lg;
    padding: 20px 55px;
    @media (max-width: $bp-mobile) {
        padding: 19px 35px;
    }
    &:hover,
    &:active {
        background-color: $color-primary-2;
    }
    &:hover {
        &:not(.out-of-stock) {
            cursor: pointer;
        }
    }
}
.pledge-condition {
    @media (max-width: $bp-mobile) {
        padding: 19px 20px;
    }
}

.out-of-stock {
    background-color: $color-neutral-2;
    &:hover,
    &:active {
        background-color: $color-neutral-2;
        cursor: not-allowed;
    }
}
.bookmark-box {
    background-color: rgba($color-neutral-2, 0.2);
    padding-right: 20px;
    @media (max-width: $bp-mobile) {
        padding-right: 0;
    }
    .bookmark {
        @media (max-width: $bp-mobile) {
            display: none;
        }
        &::before {
            content: url("images/icon-bookmark.svg");
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            @media (max-width: $bp-mobile) {
                margin-right: 0;
            }
        }
        &--mob {
            display: none;
            @media (max-width: $bp-mobile) {
                display: inline-block;
            }
        }
    }

    input {
        display: none;
        &:checked {
            & + a {
                color: $color-primary-2;
            }
            & ~ .bookmark::before {
                content: url("images/icon-bookmarked.svg");
            }
        }
    }
}
